@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  background: linear-gradient(300deg, #fff900, #ff4e0c);
}

nav {
  background: #6b6b6b;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 70px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.checkbtn {
  font-size: 20px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

#check {
  display: none;
}

.imgcontainer {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s;
}

main {
  display: flex;
  gap: 20px;
}
.task-form {
  margin: 10px 0px 0px 50px;
  width: 30%;
  padding-top: 20px;
  background-color: #f0f8f9;
  border-radius: 25px;
  flex: 20%;
}
.task-form label {
  font-size: 1.125em;
  margin-left: 10px;
}

.task-form input, textarea {
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  margin: 20px;
  font-size: 1.5em;
}

.task-form input[type="submit"] {
  background-color: #fff;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-size: 1.25em;
  margin-top: -10px;
}

.url-lists {
  margin-bottom: -5px;
}

#tasks-list { 
  height: 700px;
  width: 800px;
  background-color: #f0f8f9 ;
  margin: 10px 50px 0px 150px;
  border-radius: 25px;
  padding: 50px;
  overflow-y: scroll;
}

.launch-btn {
  border-radius: 25px;
  margin-left: 20px;
}
